.column {
    padding: 15px;
}


/**
解析文件 css
*/

.parser {
    margin: 10px!important;
    margin-left: 30px!important;
}


/* 按钮组 */

#excel i {
    color: #107B10
}

#word i {
    color: #2B569A
}

#copy i {
    color: #233;
}


/* 原文部分 */

#original {
    display: none;
    margin-top: 20px;
}


/* 转义部分 */

#translation {
    display: none;
}


/* 上传 */

.ui.upload {
    border: 1px dashed #aaa!important;
    background: #fff!important;
    box-shadow: none;
    margin-top: 1.8rem!important;
    padding: 1.6rem 1.5rem!important;
}

.ui.upload i {
    cursor: pointer;
}

#uploadDesc {
    font-size: 13px;
    color: #333;
}

.sheetBtn {
    margin-top: 20px;
}

.sheetBtn .header {
    color: #1678c2!important;
}

#original .ui.card {
    width: 95%;
}

pre {
    /* 英文换行 针对单词 */
    word-wrap: break-word;
    /* 中文换行 */
    white-space: pre-wrap;
    font-family: "Helvetica Neue", "Hiragino Sans GB", "LiHei Pro";
    font-size: 14px;
}


/* 覆盖 */

h2.ui.header .sub.header {
    font-size: 0.98rem;
}

button.basic {
    margin-right: 10px!important;
}


/**
markdown css
*/

.markdown-textarea {
    min-height: 750px!important;
    border: 0!important;
    resize: none!important;
    outline: none!important;
    line-height: 150%!important;
}

.markdown {
    min-height: 800px;
    margin-right: 15px!important;
}

.markdown .content.icon {
    float: right;
    font-size: 16px;
    cursor: pointer;
}

.markdown #save {
    float: right;
    display: none;
}