.column {
    padding: 15px;
}

/**
excel css
*/
/* 覆盖 */
h2.ui.header .sub.header {
    font-size: 0.98rem; 
}
button.basic {
    margin-right: 10px!important;
}
.parser {
    margin:10px!important;
    margin-left:30px!important;
}

/**
markdown css
*/

.markdown-textarea {
    min-height: 750px!important;
    border: 0!important;
    resize: none!important;
    outline: none!important;
    line-height: 150%!important;
}

.markdown {
    min-height: 800px;
    margin-right: 15px!important;
}

