<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="Shortcut Icon" href="./favicon.ico">
    <link rel="stylesheet" type="text/css" href="build/css/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="build/css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="public/css/style.css">
    <link rel="stylesheet" type="text/css" href="public/css/github.css">
    <link rel="stylesheet" type="text/css" href="public/css/markdown.css">
    <title>excel转换</title>
</head>

<body>
    <div class="ui fluid container">
        <div class="ui inverted dimmer">
            <div class="ui text loader" style="position:fixed">请稍候...</div>
        </div>
        <div class="ui divided grid">
            <div class="row">
                <div class="six wide column">
                    <div class="parser">
                        <h2 class="ui header">
                            <i class="file text outline icon"></i>
                            <div class="content test">文件解析
                                <div class="sub header">支持excel，word或复制文本~</div>
                            </div>
                        </h2>
                        <div id="buttonGroup">
                            <button class="ui basic button" id="excel"><i class="file excel outline icon"></i> Excel </button>
                            <button class="ui basic button" id="word"><i class="file word outline icon"></i> Word </button>
                            <button class="ui basic button" id="copy"><i class="file outline icon"></i> Copy </button>
                        </div>
                        <div id="original">

                        </div>
                        <div id="translation">
                            <i class="clone icon" style="float:right" data-clipboard-target=".parseText"></i>
                            <pre class="parseText"></pre>
                        </div>
                    </div>
                    <div id="hide" style="display:none"></div>
                </div>
                <div class="ten wide column">
                    <div class="ui piled segment markdown">
                        <h2 class="ui header">markdown文本<button class="ui primary button" id="save">保存 </button><i class="content icon" id="preview"></i></h2>
                        <div class="ui form">
                            <div class="field" id="markdown-field">
                                <textarea class="markdown-textarea"></textarea>
                                <div class="markdown-preview"></div>
                            </div>
                        </div>
                    </div>
                    <button id="test">click</button>

                </div>
            </div>
        </div>
    </div>
</body>
<script src="build/js/jquery-1.11.3.min.js"></script>
<script src="build/js/clipboard.min.js"></script>
<script src="build/js/semantic.js"></script>
<script src="build/script/manifest.js"></script>
<script src="build/script/vendor.js"></script>
<script src="build/script/excelToMark.js"></script>
<script>
    new Clipboard('.clone');

    function fake_click(obj) {
        var ev = document.createEvent("MouseEvents");
        ev.initMouseEvent(
            "click", true, false, window, 0, 0, 0, 0, 0, false, false, false, false, 0, null
        );
        obj.dispatchEvent(ev);
    }

    function export_raw(name, data) {
        var urlObject = window.URL || window.webkitURL || window;

        var export_blob = new Blob([data]);

        var save_link = document.createElementNS("http://www.w3.org/1999/xhtml", "a")
        save_link.href = urlObject.createObjectURL(export_blob);
        save_link.download = name;
        fake_click(save_link);
    }

    $('.markdown').on('click', '#save', function() {
        export_raw('test.jy', $('.markdown-preview').html());
    })
</script>

</html>